header{
    align-items: center;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid ;
}

.logo{
    font-size: 24px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #000;
}

.nav{
    display: flex;
    margin-left: 70px;
}

.nav_but{
    margin-left: 8px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.nav_but:hover{
    transform: scale(1.1);
    transition: 0.1s;
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
}

.profile p{
    margin-right: 10px;
}

.profile button{
    margin-left: 10px;
}


.btn_in{
    width: 80px;
    height: 30px;
    border: none;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(123, 255, 123);
}

.btn_up{
    width: 80px;
    height: 30px;
    border: 1px solid #1d1d1d;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

.sign button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 99%;
}